<div id="navigation">
    <p>
        Server documentation should include information about the server's configuration, services, and security, as well as how it interacts with other systems. Some best practices for documenting servers include: 
Creating a server inventory: This is a list of all the servers in your network, including their basic information like name, location, and IP address. It can help you identify gaps or redundancies, and plan for upgrades, backups, and migrations. 
Using a standard format: Use a consistent format for your documentation. 
Updating regularly: Keep your documentation up to date. 
Including screenshots and code snippets: Include screenshots and code snippets in your documentation. 



    </p>
    <div id="buttons">
        <button (click)="onClick('http://www.apache.org/', $event)"> APACHE </button>
        <button (click)="onClick('https://www.nginx.com/', $event)">NGINX</button>
        <button (click)="onClick('https://www.gnome.org', $event)">GNOME</button>
    </div>

</div>